*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.containerflex{
    display: flex;
    height: 96vh;
    width: 96vw;
    margin-top: 10px;
    flex-wrap: wrap;
    justify-content: center;
}
.container{
    display: grid;
    height: 6vh;
    width: 20vw;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: 1,1fr;
    gap: 3px;
    margin: 0px 3px 3px 0px;

}
.item2{
    background-color: rgb(148, 148, 148);
}
.item1{
    background-color: rgb(203, 203, 203);
}
.item3{
    background-color: rgb(97, 97, 97);
}
.item4{
    background-color: black;
}