*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 50px;
    text-align: center;
}
.maincontainer{
    width: 680px;
    height: 600px;
    text-align: center;
    margin: auto;
}
.section1{
    width: 340px;
    height: 500px;
    background-color: whitesmoke;
    display: inline-block;
    padding: 20px;
    position: relative;
}
.section2{
    background-image: linear-gradient(to bottom right, rgba(34,33,47,1), rgba(150,39,170,1));
    width: 340px;
    height: 500px;
    background-size: contain;
    float: right;
    padding-top: 20px;
}
h1{
    font-size: 36px;
}
h2{
    color:white;
    font-size: 64px;
}
.icon{
    font-size: 100px;
}
.input{
    border: none;
    background-color: rgb(236, 235, 235);
    padding: 10px;
    margin-top: 20px;
    width: 300px;
}
.check{
    margin-top: 30px;
}
label{
    color: gray;
    width: 150px;
}
.aleft{
    width: 150px;
    color: gray;
    text-decoration: none;
    margin-left: 70px;
}
.buttonleft{
    width: 300px;
    margin-top: 20px;
    background-color: rgb(150, 39, 170);
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
}
.textline{
    margin-top: 20px;
    position: relative;
}
.line{
    position: absolute;
    top: 50%;
    left:0;
    height: 1px;
    width: 100%;
    background-color: gray;
}
span{
    position: relative;
    z-index: 1;
    padding: 0px 15px;
    background-color: whitesmoke;
    color: gray;
}
.plogin{
    color: white;
    font-size: 20px;
}
.container{
    margin-top: 20px;
    font-size: 30px;
}
i{
    margin-left: 15px;
}
.copyright {
    color: gray;
    font-size: 12px;
    position: absolute;
    bottom: 20px;
    left: 45%;
}
.buttonright{
    
    padding: 15px;
    border-radius: 100px;
    background-color: rgba(165, 42, 42, 0);
    border: solid 1px white;
    margin-top: 10px;
}
.aright{
    text-decoration: none; 
    text-transform: uppercase;
    color: white;
}
.fa-arrow-right{
    border: solid 2px white;
    border-radius: 50%;
    padding: 3px 4px;
    margin-left: 3px;
}
