*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to bottom right, rgba(34,33,47,1), rgba(150,39,170,1));
    width: 100vw;
    height: 100vh;
    background-size: contain;
}
section{
    width: 300px;
    height: 600px;
    margin: 50px auto;
    text-align: center;
}
.icon{
    font-size: 100px;
}
h1{
    color:white;
    font-size: 64px;
}
p{
    color: white;
    font-size: 24px;
}
button{
    
    padding: 15px;
    border-radius: 100px;
    background-color: rgba(165, 42, 42, 0);
    border: solid 1px white;
    margin-top: 10px;
}
a{
    text-decoration: none; 
    text-transform: uppercase;
    color: white;
}
.fa-arrow-right{
    border: solid 2px white;
    border-radius: 50%;
    padding: 3px 4px;
    margin-left: 3px;
}
