*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}
.container{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 10px;
}
article{
    display: inline-block;
    width: 400px;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px ;
    margin-top: 30px;
    position: relative;
}
.card{
    width: 100%;
    height: 70%;
    position: relative;
}
img{
    width: 100%;   
}
.new{
   color: white;
   font-weight: bold;
   text-transform: uppercase;
   display: inline-block;
   position: absolute;
   padding: 5% 1%;
   border-radius:100%;
   background-color: cadetblue;
   top: 8%;
   left: 2%;
}
.sale{
    display: inline-block;
    color: white;
    padding: 5% 1%;
    border-radius: 100%;
    background-color: red;
    font-weight: bold;
    position: absolute;
    left: 80%;
    top: 8%;
}
.textbellow{
    height: 30%;
    width: 100%;
    position: relative;
    text-align: center;
}
h5{
    font-weight: 100;
    margin-top: 10px; 
}
.price{
    margin-top: 10px;
    color: cadetblue;
}
span{
    text-decoration: line-through;
    color: gray;
    margin-top: 10px;
}
button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: black solid 1px;
    background-color: white;
    color: gray;
    text-transform: uppercase;  
}
button:hover{
    background-color: cadetblue;
    color: white;
    border: cadetblue solid 1px;
}
.icons{
    position: absolute; 
    width: 80%;
    height: 20%;
    top: 40%;
    left:10%;
    display: none;
    
}
.icon{
   width: 20%;
   padding: 7px;
   background-color: white;
   border-radius: 4px;
   margin: 5px;
}
.card:hover{
    .icons{
        display: block;
    }
}
.icon:hover{
    background-color: cadetblue;
}
@media only screen and (min-width: 768px){
    article{
        display: inline-block;
        width: 350px;
        height: 100%;
        margin-left: 10px;
        margin-right: 10px ;
        margin-top: 30px;
    }

}
@media only screen and (min-width: 992px){
    article{
        display: inline-block;
        width: 215px;
        height: 100%;
        margin-left: 10px;
        margin-right: 10px ;
        margin-top: 30px;
    }
    *{
        font-size: 14px;
    }
}
@media only screen and (min-width: 1200px){
    article{
        display: inline-block;
        width: 170px;
        height: 100%;
        margin-left: 10px;
        margin-right: 10px ;
        margin-top: 30px;
    }
    .container{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    *{
        font-size: 12px;
    }
}
    