.hero {
    background-color: #1e1e1e; /* Темный фон */
    color: #f0e6d2; /* Светлый текст */
    font-size: 1.2em;
    font-family: 'Cinzel', serif;
    border: 2px solid #000; /* Черная рамка */
    padding: 20px;
    margin: 10px 0;
    text-align: center;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.7); /* Тень для глубины */
    transition: transform 0.3s;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
}

.hero:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9); /* Усиленная тень при наведении */
}
