#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.image{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.image:hover{
  scale: 2.0;
  transition-duration: 3s;
}

input{
  width: 200px;
  font-size: 16px;
  border-radius: 5px;
  margin: 3px;
}

body{
  background-color: rgb(8, 106, 74);
}

.link{
  padding: 10px;
  background-color: rgba(17, 98, 212, 0.514);
  color: white;
  margin: 10px;
  border-radius: 10px;
}

form{
  display: flex;
  width: 250px;
  margin:20px auto;
}
